@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --white: #fff;
    --yellowee: #FFA010;
    --yellow-dark: #e98f07;
    --yellow-darker: #b8720a;
    --greenee: #399A19;
    --green-brighter: #37B34A;
    --green-darker: #175104;
    --transition-normal: all 0.5s;
}

body{
    font-family: 'Nunito', sans-serif !important;
}

.clean-scrollbar::-webkit-scrollbar {
    width: 10px;
    }

/* Track */
.clean-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.103);

}

/* Handle */
.clean-scrollbar::-webkit-scrollbar-thumb {
    background: #4f5d91;
    border-radius: 5px;
    border: 4.5px solid transparent;
    background-clip: content-box;
    transition: all 0.3s;
}

/* Handle on hover */
.clean-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4f5d91;
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
}

nav.navbar{
    padding: 10px 100px 10px 100px;
    background-color: var(--greenee);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.o-input{
    height: 35px;
    width: 235px;
    padding-left: 40px;
    border: 1px solid var(--greenee);
    border-radius: 5px;
}

.navbar .fa-search{
    margin-right: -30px;
    z-index: 1;
}

.nav-content{
    margin-left: 75px;
}

.navbar-brand{
    font-size: 28px !important;
    font-weight: 600;
}

.navbar-brand-logo{
    height: 55px;
}

.navbar .nav-item.active{
    border-bottom: 3px solid var(--yellowee);
}

.navbar .nav-link{
    color: var(--white) !important;
    font-size: 14px;
}

.navbar .nav-item{
    margin: 5px;
}

.navbar .nav-avatar{
    padding: 0 !important;
    overflow: hidden;
}

.navbar .nav-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar .dropdown-menu{
    top: 135%;
    width: 200px;
    left: -5px;
    border-radius: 5px;
    padding: 5px 10px 0 10px;
}

.navbar .dropdown-item{
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #399a1963;
    color: var(--greenee);
    transition: all 0.5s;
}

.navbar .dropdown-item:hover{
    padding-left: 20px !important;
    background-color: unset;
    color: #286913;
}

.nav-circle{
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 4px !important;
}

/* Welcome Page CSS */
section.hero{
    height: 590px;
    display: flex;
    background-image: url('/img/hero_bg.png');
    background-color: var(--greenee);
    padding: 100px 100px 0 100px;
}

.hero .hero-row{
    align-self: end;
    width: 100%;
}

section.hero .hero-img{
    height: 450px;
}

.carousel-div{
    align-items: center;
    display: flex;
}

#hero-carousel{
    width: 92%;
    height: 320px;
}

.carousel-indicators{
    justify-content: flex-start !important;
    margin: 0 !important;
}

.carousel-indicators li{
    height: 6px !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: 5px;
    width: 25px !important;
    transition: all 2.5s;
}

.carousel-indicators li.active{
    width: 75px !important;
}

.fw-800{
    font-weight: 800 !important;
}

.txt-secondary{
    color: var(--yellowee) !important;
}

.hero-sm-txt{
    font-size: 13px;
}

.hero-form{
    margin-left: 15px;
    margin-top: 35px;
}

.hero-input{
    height: 50px;
    width: 100%;
    padding-left: 40px;
    border: 1px solid var(--greenee);
    border-radius: 5px;
}

.hero-form .fa-search{
    margin-right: -30px;
    z-index: 1;
}

.hero .o-btn{
    color: #000 !important;
    font-weight: 500 !important;
    background-color: var(--yellowee) !important;
    border-color: var(--yellowee) !important;
    padding: 8px 40px !important;
    transition: var(--transition-normal);
}

.hero .o-btn:hover{
    background-color: var(--yellow-dark) !important;
    border-color: var(--yellow-dark) !important;
}

.main-page{
    padding: 20px 100px;
}

.featured-products{
    padding: 10px 75px;
    background: #f5f5f5;
    border-radius: 5px;
}

.featured-products .owl-item{
    background: #C4F3B5;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.featured-products .owl-item .item{
    display: flex;
    height: 100%;
    justify-content: center;
}

.featured-products .owl-dots{
    display: none;
}

.featured-products .owl-nav{
    position: absolute;
    top: 25%;
    width: 100%;
}

.featured-products .owl-nav .owl-prev{
    left: -65px;
}

.featured-products .owl-nav button{
    transition: all 500ms;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    position: absolute;
    font-size: 30px !important;
    background: #399a197a !important;
    color: var(--white) !important;
}

.featured-products .owl-nav button:hover{
    background: var(--greenee) !important;
}

.featured-products .owl-nav .owl-next{
    right: -65px;
}

.featured-products .featuredP-name{
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.featured-products .featuredP-img{
    width: 70% !important;
    margin: auto;
}

/* ads carousel */
.ads{
    padding: 15px 75px 40px 75px;
    background: #E6F9E0;
    border-radius: 10px;
}

.section-name{
    font-size: 18px;
    font-weight: 800;
    color: var(--green-darker);
}

.ads .owl-item{
    background: #eaeaea;
    height: 248px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ads .owl-item .item{
    display: flex;
    height: 100%;
    justify-content: center;
}

.ads .owl-dots{
    display: none;
}

.ads .owl-nav{
    position: absolute;
    top: 35%;
    width: 100%;
}

.ads .owl-nav .owl-prev{
    left: -65px;
}

.ads .owl-nav button{
    transition: all 500ms;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    position: absolute;
    font-size: 30px !important;
    background: #399a197a !important;
    color: var(--white) !important;
}

.ads .owl-nav button:hover{
    background: var(--greenee) !important;
}

.ads .owl-nav .owl-next{
    right: -65px;
}

.ads .featuredP-name{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 700;
    color: var(--green-darker);
}

.ads .featuredP-price{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 700;
    color: var(--green-darker);
}

.ads .featuredP-img{
    width: 100% !important;
    margin: auto;
}

.ads .bottom-section{
    height: 55px;
    background: #EAEAEA;
    width: 100%;
    justify-content: space-between;
    padding: 9px 12px;
}

.ads .o-btn{
    background: var(--white);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--green-brighter);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.ads .o-btn:hover{
    background: var(--green-brighter);
    color: var(--white);
    text-decoration: none;
}

.hide-on-mobile{
    display: flex;
}

.show-on-mobile{
    display: none;
}

.main2{
    padding: 10px 90px;
}

.post-ads .post-ads-bg{
    padding: 20px;
    background: linear-gradient(255.76deg, rgba(112, 112, 112, 0) -152.35%, #EEEEEE 104.18%);
}

.post-ads .post-ads-img{
    width: 100%;
}

.post-ads .text-div{
    align-items: center;
}

.post-ads .text-div h3{
    font-size: 27px;
    font-weight: 900;
    color: var(--green-darker);
}

.post-ads .text-div a{
    color: var(--yellowee);
    transition: all 500ms;
}

.post-ads .text-div a:hover{
    text-decoration: none;
    color: var(--yellow-darker);
}

.post-ads .post-ads-bg2{
    background-color:var(--greenee);
    background-image: url(/img/hero_bg1.png);
    height: 100%;
}

.post-ads .text1{
    font-size: 15px;
    font-weight: 800;
}

.btn-ads{
    width: 100%;
    padding: 10px !important;
    border-radius: 0 !important;
    color: #000;
    background-color: var(--yellowee) !important;
    border-color: var(--yellowee) !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    transition: var(--transition-normal);
}

.btn-ads:hover{
    background-color: var(--yellow-dark) !important;
    border-color: var(--yellow-dark) !important;
}



.trending-ads .featuredP-name{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 700;
    color: var(--green-darker);
}

.trending-ads .featuredP-price{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 700;
    color: var(--green-darker);
}

.trending-ads .featuredP-img{
    width: 100% !important;
    margin: auto;
}

.trending-ads .bottom-section{
    height: 55px;
    background: #EAEAEA;
    width: 100%;
    justify-content: space-between;
    padding: 9px 12px;
}

.trending-ads .o-btn{
    background: var(--white);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--green-brighter);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.trending-ads .o-btn:hover{
    background: var(--green-brighter);
    color: var(--white);
    text-decoration: none;
}

.footer{
    height: 420px;
    background: var(--green-darker);
}

/* Media Queries */
@media screen and (max-width:1000px) {
    nav.navbar{
        padding: 10px 15px 10px 15px;
        z-index: 999;
    }

    .navbar-toggler{
        border: unset !important;
        padding: 0px !important;
        border-color: unset !important;
    }

    .navbar-toggler:focus{
        outline: 1px dotted;
    }

    .hero .hero-content-div{
        margin-top: 70px;
    }

    .nav-content {
        margin: 15px;
    }

    .hide-on-mobile{
        display: none;
    }

    .show-on-mobile{
        display: flex;
    }

    .main-page{
        padding: 20px 10px;
    }

    .sell-btn{
        background-color: var(--yellowee) !important;
        border-color: var(--yellowee) !important;
    }

    .featured-products{
        padding: 10px 25px;
    }

    .featured-products .owl-nav button {
        width: 30px;
        height: 30px;
    }

    .featured-products .owl-nav .owl-next {
        right: -35px;
    }

    .featured-products .owl-nav .owl-prev {
        left: -35px;
    }

    .ads .owl-nav button {
        width: 30px;
        height: 30px;
    }

    .ads .owl-nav .owl-next {
        right: -35px;
    }

    .ads .owl-nav .owl-prev {
        left: -35px;
    }

    .ads{
        padding: 20px 25px;
    }

    .ads .owl-item{
        height: 280px;
    }
}

@media screen and (max-width:500px) {
    .navbar-brand-logo {
        height: 45px;
    }

    .navbar-brand{
        font-size: 20px !important;
        margin-right: unset !important;
    }

    section.hero{
        padding: 10px;
    }

    .hero .hero-row{
        align-self: center;
    }

    .hero .hero-img-div{
        display: none;
    }

    .hero .mobile-txt{
        font-size: 30px;
    }

    #hero-carousel {
        height: calc(100% + 30px);
    }

    .form-mobile{
        margin-left: 15px;
    }

    .form-mobile .o-input{
        width: 104%;
    }

    .hero-input{
        width: 104%;
        padding-right: 10px;
    }

    .navbar-nav .dropdown-menu {
        position: absolute !important;
        left: -155px;
        top: 125%;
    }
}



